/* Reset and base styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	line-height: 1.6;
	color: #000;
	background-color: #fff;
}

:root {
	--bottom-cta-height: 0px;
	--top-navbar-height: 90.19px;
	--speed-alert-bg-color: #C62828;
	--section-top-offset: calc(var(--top-navbar-height) + 1rem);
	--wa-btn-color: #25d366;
	--wa-btn-hover: #128C7E;
	--phone-btn-color: #1976D2;
	--cta-btn-color: #C62828;
	--cta-btn-hover: #B71C1C;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Sections */
.section {}



.section-alt {
	background-color: #f8f9fa;
}

.section-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btm-padding-section {
	padding-bottom: var(--top-navbar-height);
}

.img-section-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-title {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 1rem;
}

.section-subtitle {
	font-size: 1.4rem;
	font-weight: 500;
	text-align: center;
}

.section-text {
	font-size: 1.125rem;
	text-align: center;
	max-width: 800px;
	margin: 0 auto 3rem;
	opacity: 0.8;
}



.row {
	display: flex;
	align-items: center;
}

.document-section {
	margin-top: 2rem;

	p {
		margin-bottom: 1.5rem;
	}

	li,
	ul {
		margin-bottom: 1rem;
	}
}

.img-row {
	display: flex;
}

.responsive-row {
	justify-content: space-evenly;
	align-items: flex-start;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 10rem;
}

.service-area-img {
	max-width: 350px;
	max-height: 350px;
}

.only-desktop {
	display: block !important;
}

.only-mobile {
	display: none !important;
}

.only-mobile-cta {
	display: none;
}


@media (max-width: 768px) {

	.section-title {
		font-size: 1.75rem;
	}


	.only-desktop {
		display: none !important;
	}

	.only-mobile {
		display: block !important;
	}

	.only-mobile-cta {
		display: flex !important;
		margin-bottom: 5rem;
		justify-content: center;
	}

	.responsive-row {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.img-section-container {
		padding: 0;
	}

	.service-area-img {
		max-width: 800px;
		max-height: 800px;
	}
}

@media (min-width: 769px) {
	:root {
		--bottom-cta-height: 0px;
		--top-navbar-height: 50.59px;
		--speed-alert-bg-color: #C62828;
		--section-top-offset: calc(var(--top-navbar-height) + 1rem);
		--wa-btn-color: #25d366;
		--phone-btn-color: #1976D2;
	}
}
