.contact-informations {
	margin-bottom: 5rem;
	justify-items: center;
}

.contact-info-section {
	margin: 2rem 0;
}

.contact-info {
	display: flex;
}

.contact-info-text-block {
	align-content: center;
	margin-left: 1rem;
}

.contact-info-title {
	font-size: 1.25rem;
	font-weight: 600;
}

@media (min-width: 768px) {
	.contact-info-section {
		margin: 0;
	}
}
