.contact-informations {
	margin-bottom: 5rem;
	justify-items: center;
}

.contact-info {
	display: flex;
	margin-bottom: 1rem;
}

.contact-info-text-block {
	align-content: center;
	margin-left: 1rem;
}

.contact-info-title {
	font-size: 1.25rem;
	font-weight: 600;
}

.contact-info-text {}
